.bookList__message {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.bookCard__section {
  margin-top: 20px;
}

.bookCard__section__container {
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.bookCard {
  width: 200px;
  background-color: var(--secondary-color);
  padding: 8px;
  border-radius: 8px;
}

.buttonCard__deleteBtn {
  outline: none;
  border: none;
  padding: 4px 10px;
  background-color: var(--quaternary-color);
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}