.form__section__container {
  border-top: 1px solid var(--border);
  padding-top: 20px;
  max-width: 80vw;
  margin: 0 auto;
}

.form__section__title {
  color: var(--gray);
}

.book__form {
  padding-top: 1.1rem;
  padding-bottom: 4rem;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  width: 100%;
}

.book__form__input {
  outline: none;
  width: 50%;
  border: 1px solid var(--border);
  padding: 4px;
}

.book__form__button {
  cursor: pointer;
  width: 30%;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 8px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--buttonColor);
  color: #fff;
  transition: all 0.3s ease;
}

.book__form__button:hover {
  background-color: #005799;
}
