.header__section {
  background-color: var(--primary-color);
}

.header__section__container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.header__title {
  font-size: 22px;
  letter-spacing: 1px;
  color: var(--tertiary-color);
}

.header__links__container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__link__item {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--tertiary-color);
  transition: all 0.3s ease-out;
}

.header__link__item:hover {
  color: #fff;
}

.activeLink {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  transition: all 0.3s ease-out;
}