@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background);
}

:root {
  --white: #fff;
  --background: #e6e6e68f;
  --black: #000;
  --blue: #0290ff;
  --secondBlue: #4386bf;
  --buttonColor: #0290ff;
  --gray: #4d4d4d;
  --thinGray: #979797;
  --border: #dedede;
}
